/* semua */
* {
  margin: 0;
  padding: 0;
  text-decoration: none;
  list-style-type: none;
  box-sizing: border-box;
  font-family: "Tahoma", sans-serif;
}

body {
  background-color: rgb(45, 12, 77);
}

/* NAVBAR  */
header {
  text-align: center;
  position: fixed;
  width: 100%;
  top: 0;
  font-weight: bold;
  font-size: 1.2rem;
  justify-content: center;
  margin-top: 25px;
  background-color: rgba(45,12,77,0.9);
  z-index: 1000;
  padding: 10px 0;
}

.title {
  color: blueviolet;
  border-bottom: 1px solid rgb(156, 5, 194);
}

/* NAVBAR */
.container-navbar {
  margin-top: 7px;
  width: 100%;
  height: 10vh;
}

.ul-navbar {
  height: 100px;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.li-navbar {
  color: white;
  margin: 5px;
  padding: 10px;
  font-size: 1rem;
}

.li-navbar:hover {
  background-color: rgb(61, 2, 170);
  transition: 0.2s ease-in-out;
  border-radius: 10px;
}

.a-navbar {
  color: blueviolet;
  text-decoration: none;
}

/*  CONTENT */
.dana, .ovo, .link, .SP {
  display: flex;
  transition: 0.3s;
  cursor: pointer;
  align-items: center;
  justify-content: center;
  margin: 10px;
}

.dana:hover {
  transform: scale(1.07);
  filter: brightness(1.3);
  box-shadow: 0 0 20px rgba(0, 162, 255, 0.8);
  background-color: aqua;
}

.ovo:hover {
  transform: scale(1.07);
  filter: brightness(1.3);
  box-shadow: 0 0 20px rgba(128, 0, 255, 0.8);
  border-radius: 15px;
  background-color: rgba(128, 0, 255, 0.8);
}

.link:hover {
  transform: scale(1.07);
  filter: brightness(1.3);
  box-shadow: 0 0 20px rgba(218, 13, 3, 0.8);
  border-radius: 15px;
  background-color: rgba(218, 13, 3, 0.8);
}

.SP:hover {
  transform: scale(1.07);
  filter: brightness(1.3);
  box-shadow: 0 0 20px orangered;
  border-radius: 15px;
  background-color: orangered;
}


.dana { width: 30%; }
.ovo, .link, .SP { width: 10%; margin-left: 10%; }


@media (max-width: 1024px) {
  .dana { width: 45%; }
  .ovo, .link, .SP { width: 20%; margin-left: 5%; }
}

@media (max-width: 768px) {
  .dana, .ovo, .link, .SP {
    width: 90%; 
    margin-left: 0;
    margin-bottom: 10px;
  }
}
