* {
  margin: 0;
  padding: 0;
  text-decoration: none;
  list-style-type: none;
  box-sizing: border-box;
  font-family: "Tahoma";
}

body {
  background-color: rgb(45, 12, 77);
}

/* BAWAH SUDAH NAVBAR */
header {
  text-align: center;
  position: fixed;
  width: 100%;
  top: 0;
  font-weight: bold;
  font-size: 15pt;
  justify-content: center;
  text-align: center;
  margin-top: 25px;
}

.title {
  color: blueviolet;
  border-bottom: 1px solid rgb(156, 5, 194);
  align-items: center;
  justify-content: center;
}

.search {
  width: 30%;
  border: none;
  border-radius: 0 0 0 10px;
  padding: 2px;
}

.cari {
  margin-left: -5px;
  border: none;
  border-radius: 0 10px 0 0;
  padding: 2px;
  color: black;
  background-color: blueviolet;
  width: 10%;
}

.container-navbar {
  margin-top: 7px;
  width: 100%;
  height: 10vh;
}

.ul-navbar {
  height: 100px;
  display: flex;
  justify-content: center;
}

.li-navbar {
  color: white;
  list-style: none;
  margin: 5px;
  padding: 10px;
  font-size: 20px;
}

.li-navbar:hover {
  background-color: rgb(61, 2, 170);
  transition: 0.1s ease-in-out;
  transition-delay: 0.1s;
  border-radius: 10px;
  height: 40px;
}

.a-navbar {
  color: blueviolet;
  text-decoration: none;
  border-bottom: 3px;
}
/* di bawah sudah content */

.dana {
  display: flex;
  width: 30%;
  transition: 0.3s;
  cursor: pointer;
}

.dana:hover {
  transform: scale(1.07);
  filter: brightness(1.3);
  box-shadow: 0 0 20px rgba(0, 162, 255, 0.8);
  background-color: aqua;
}
.ovo {
  display: flex;
  width: 10%;
  margin-left: 10%;
  transition: 0.3s;
  cursor: pointer;
}

.ovo:hover {
  transform: scale(1.07);
  filter: brightness(1.3);
  box-shadow: 0 0 20px rgba(128, 0, 255, 0.8);
  border-radius: 15px;
  background-color: rgba(128, 0, 255, 0.8);
}
.link {
  display: flex;
  width: 10%;
  margin-left: 10%;
  transition: 0.3s;
  cursor: pointer;
}
.link:hover {
  transform: scale(1.07);
  filter: brightness(1.3);
  box-shadow: 0 0 20px rgba(218, 13, 3, 0.8);
  border-radius: 15px;
  background-color: rgba(218, 13, 3, 0.8);
}
.SP {
  display: flex;
  width: 10%;
  margin-left: 10%;
  transition: 0.3s;
  cursor: pointer;
}
.SP:hover {
  transform: scale(1.07);
  filter: brightness(1.3);
  box-shadow: 0 0 20px orangered;
  border-radius: 15px;
  background-color: orangered;
}
