/* semua */
* {
  margin: 0;
  padding: 0;
  text-decoration: none;
  list-style-type: none;
  box-sizing: border-box;
  font-family: "Tahoma";
}

body {
  background-color: rgb(45, 12, 77);
}

/*NAVBAR */
header {
  text-align: center;
  position: fixed;
  width: 100%;
  top: 0;
  font-weight: bold;
  font-size: 1.2rem;
  justify-content: center;
  margin-top: 25px;
  background-color: rgba(45,12,77,0.9);
  z-index: 1000;
  padding: 10px 0;
}

.title {
  color: blueviolet;
  border-bottom: 1px solid rgb(156, 5, 194);
}

.container-navbar {
  margin-top: 7px;
  width: 100%;
  height: 10vh;
}

.ul-navbar {
  height: 100px;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
 }

.li-navbar {
  color: white;
  margin: 5px;
  padding: 10px;
  font-size: 1rem;
}

.li-navbar:hover {
  background-color: rgb(61, 2, 170);
  transition: 0.2s ease-in-out;
  border-radius: 10px;
}

.a-navbar {
  color: blueviolet;
  text-decoration: none;
}

/*  CONTENT */
.ff {
  width: 36%; 
}

@media (max-width: 1024px) {
  .ff {
    width: 50%; 
  }
}

@media (max-width: 768px) {
  .ff {
    width: 100%; 
  }

  header {
    font-size: 1rem;
    margin-top: 10px;
  }

  .ul-navbar {
    flex-direction: column;
    gap: 5px;
  }
}
