/* semua  */
* {
  margin: 0;
  padding: 0;
  text-decoration: none;
  list-style-type: none;
  box-sizing: border-box;
  font-family: "Tahoma", sans-serif;
}

body {
  background-color: rgb(45, 12, 77);
}

/* NAVBAR  */
header {
  text-align: center;
  
  width: 100%;
  top: 0;
  font-weight: bold;
  font-size: 1.2rem;
  justify-content: center;
  margin-top: 25px;
  background-color: rgba(45,12,77,0.9);
  z-index: 1000;
  padding: 10px 0;
}

.title {
  color: blueviolet;
  border-bottom: 1px solid rgb(156, 5, 194);
}

.container-navbar {
  width: 100%;
  margin-top: 7px;
  height: 10vh;
}

.ul-navbar {
  display: flex;
  justify-content: center;
  flex-wrap: wrap; 
  gap: 10px;
}

.li-navbar {
  color: white;
  margin: 5px;
  padding: 10px;
  font-size: 1rem;
}

.li-navbar:hover {
  background-color: rgb(61, 2, 170);
  transition: 0.2s ease-in-out;
  border-radius: 10px;
}

.a-navbar {
  color: blueviolet;
  text-decoration: none;
}

/*  SEARCH */
.search {
  width: 30%;
  max-width: 200px;
  border: none;
  border-radius: 0 0 0 10px;
  padding: 5px;
}

.cari {
  margin-left: -5px;
  border: none;
  border-radius: 0 10px 0 0;
  padding: 5px;
  color: black;
  background-color: blueviolet;
  width: 10%;
  max-width: 60px;
}

/*  CONTENT */
.ml {
  width: 36%; 
}

@media (max-width: 1024px) {
  .ml {
    width: 50%; 
  }
}

@media (max-width: 768px) {
  .ml {
    width: 100%;
  }

  header {
    font-size: 1rem;
    margin-top: 10px;
  }

  .ul-navbar {
    flex-direction: column;
    gap: 5px;
  }

  .search {
    width: 70%;
  }

  .cari {
    width: 25%;
  }
}
