/* semua */
* {
  margin: 0;
  padding: 0;
  text-decoration: none;
  list-style-type: none;
  box-sizing: border-box;
  font-family: "Tahoma", sans-serif;
}

html {
  scroll-behavior: smooth;
}

body {
  background-color: rgb(45, 12, 77);
}

/* NAVBAR */
header {
  text-align: center;

  width: 100%;
  top: 0;
  font-weight: bold;
  font-size: 1.2rem;
  justify-content: center;
  margin-top: 25px;
  background-color: rgba(45, 12, 77, 0.9);
  z-index: 1000;
  padding: 10px 0;
}

.title {
  color: blueviolet;
  border-bottom: 1px solid rgb(156, 5, 194);
}

.container-navbar {
  width: 100%;
  margin-top: 7px;
  height: 10vh;
}

.ul-navbar {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 10px;
}

.li-navbar {
  color: white;
  margin: 5px;
  padding: 10px;
  font-size: 1rem;
}

.li-navbar:hover {
  background-color: rgb(61, 2, 170);
  transition: 0.2s ease-in-out;
  border-radius: 10px;
}

.a-navbar {
  color: blueviolet;
  text-decoration: none;
}

/*  SLIDER */
.slider {
  width: 90%;
  margin: 12% auto 0 auto;
  color: blueviolet;
}

.slides {
  display: flex;
  width: 100%;
  overflow: hidden;
}

.slide {
  min-width: 100%;
  transition: 0.5s;
}

.slides img {
  width: 100%;
  height: auto;
  border-radius: 10px;
}
.choose_1:checked ~ .slides > .s1 {
  margin-left: 0%;
}
.choose_2:checked ~ .slides > .s1 {
  margin-left: -100%;
}

/* CONTENT  */
.title-c {
  color: blueviolet;
  margin: 5% 5% 1% 5%;
  font-size: 1.5rem;
}

.container-content {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  margin: 1% 5%;
}

.item {
  flex: 1 1 calc(33% - 20px);
  gap: 10px;
  align-items: center;
  justify-content: center;
}

.logo-pln,
.logo-pdam {
  height: auto;
  max-width: 100%;
}

/*  FOOTER  */
.kaki {
  width: 90%;
  margin: 40px auto;
  text-align: center;
  color: blueviolet;
  background: rgb(70, 13, 128);
  padding: 20px;
  border: 3px solid black;
  border-radius: 20px;
  font-family: Arial, sans-serif;
}

.kaki h1 {
  margin: 0;
  font-size: 2rem;
  font-weight: bold;
}

.kaki p {
  margin-top: 10px;
  font-size: 1rem;
}

@media (max-width: 1024px) {
  .item {
    flex: 1 1 calc(50% - 20px);
  }
}

@media (max-width: 768px) {
  header {
    font-size: 1rem;
    margin-top: 10px;
  }

  .ul-navbar {
    flex-direction: column;
    gap: 5px;
  }

  .item {
    flex: 1 1 100%;
  }

  .slider {
    width: 95%;
    margin-top: 20%;
  }

  .title-c {
    font-size: 1.2rem;
    margin: 10% 5% 2% 5%;
  }
}
