/*  semua */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Tahoma", sans-serif;
}

html {
  scroll-behavior: smooth;
}

body {
  background-color: rgb(45, 12, 77);
}

/*  NAVBAR */
header {
  text-align: center;

  width: 100%;
  top: 0;
  font-weight: bold;
  font-size: 1.2rem;
  background-color: rgba(45, 12, 77, 0.9);
  z-index: 1000;
  padding: 10px 0;
}

.title {
  color: blueviolet;
  border-bottom: 1px solid rgb(156, 5, 194);
}

.container-navbar {
  width: 100%;
  margin-top: 10px;
}

.ul-navbar {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 10px;
  padding: 10px 0;
}

.li-navbar {
  color: white;
  padding: 10px 15px;
  font-size: 1rem;
  cursor: pointer;
}

.li-navbar:hover {
  background-color: rgb(61, 2, 170);
  border-radius: 10px;
  transition: 0.2s ease-in-out;
}

.a-navbar {
  color: blueviolet;
  text-decoration: none;
  border-bottom: 3px;
}

/*  cari*/
.search {
  width: 30%;
  max-width: 200px;
  border: none;
  border-radius: 0 0 0 10px;
  padding: 5px;
}

.cari {
  margin-left: -5px;
  border: none;
  border-radius: 0 10px 0 0;
  padding: 5px;
  color: black;
  background-color: blueviolet;
  width: 10%;
  max-width: 60px;
}

/*  SLIDER  */
.slider {
  width: 90%;
  margin: 10% auto 0 auto;
  color: blueviolet;
}

.slides {
  display: flex;
  width: 100%;
  overflow: hidden;
}

.slide {
  min-width: 100%;
  transition: 0.5s;
}

.slides img {
  width: 100%;
  height: auto;
  border-radius: 10px;
}
.choose_1:checked ~ .slides > .s1 {
  margin-left: -0rem;
}
.choose_2:checked ~ .slides > .s1 {
  margin-left: -50rem;
}

/* content */
.title-c {
  color: blueviolet;
  margin: 5% 5% 1% 5%;
  font-size: 1.5rem;
}

.container-content {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  margin: 1% 5%;
}

.item {
  flex: 1 1 calc(33% - 20px);
  display: grid;
  gap: 10px;
}

@media (max-width: 1024px) {
  .item {
    flex: 1 1 calc(50% - 20px);
  }
}

@media (max-width: 768px) {
  .item {
    flex: 1 1 100%;
  }
}

/*  sikil */
.kaki {
  width: 90%;
  margin: 40px auto;
  text-align: center;
  color: blueviolet;
  background: rgb(70, 13, 128);
  padding: 20px;
  border: 3px solid black;
  border-radius: 20px;
  font-family: Arial, sans-serif;
}

.kaki h1 {
  margin: 0;
  font-size: 2rem;
  font-weight: bold;
}

.kaki p {
  margin-top: 10px;
  font-size: 1rem;
}

@media (max-width: 768px) {
  .search {
    width: 70%;
  }
  .cari {
    width: 25%;
  }
}

@media (max-width: 768px) {
  .ul-navbar {
    flex-direction: column;
    gap: 5px;
  }

  header {
    font-size: 1rem;
    padding: 8px 0;
  }
}
