* {
  margin: 0;
  padding: 0;
  text-decoration: none;
  list-style-type: none;
  box-sizing: border-box;
  font-family: "Tahoma";
}

html {
  scroll-behavior: smooth;
}

body {
  background-color: rgb(45, 12, 77);
}

/* BAWAH SUDAH NAVBAR */
header {
  text-align: center;
  position: fixed;
  width: 100%;
  top: 0;
  font-weight: bold;
  font-size: 15pt;
  justify-content: center;
  text-align: center;
  margin-top: 25px;
}

.title {
  color: blueviolet;
  border-bottom: 1px solid rgb(156, 5, 194);
  align-items: center;
  justify-content: center;
}

.search {
  width: 30%;
  border: none;
  border-radius: 0 0 0 10px;
  padding: 2px;
}

.cari {
  margin-left: -5px;
  border: none;
  border-radius: 0 10px 0 0;
  padding: 2px;
  color: black;
  background-color: blueviolet;
  width: 10%;
}

.container-navbar {
  margin-top: 7px;
  width: 100%;
  height: 10vh;
}

.ul-navbar {
  height: 100px;
  display: flex;
  justify-content: center;
}

.li-navbar {
  color: white;
  list-style: none;
  margin: 5px;
  padding: 10px;
  font-size: 20px;
}

.li-navbar:hover {
  background-color: rgb(61, 2, 170);
  transition: 0.1s ease-in-out;
  transition-delay: 0.1s;
  border-radius: 10px;
  height: 40px;
}

.a-navbar {
  color: blueviolet;
  text-decoration: none;
  border-bottom: 3px;
}

/* BAWAH SUDAH SLIDE*/
.slider {
  margin-top: 10%;
  display: block;
  margin-left: 20%;
  margin-right: 50%;
  width: 65%;
  color: blueviolet;
}

.slider h4 {
  margin-top: 20%;
}

.slides {
  display: flex;
  width: 50rem;
  overflow: hidden;
}

.slides img {
  border-radius: 10px;
}

.slide {
  width: 50rem;
  transition: 0.5s;
}

.choose_1:checked ~ .slides > .s1 {
  margin-left: -0rem;
}

.choose_2:checked ~ .slides > .s1 {
  margin-left: -50rem;
}

/* BAWAH SUDAH CONTENT*/
.title-c {
  color: blueviolet;
  text-decoration: none;
  margin-left: 10%;
  margin-top: 5%;
}

.container-content {
  display: flex;
  flex-direction: row;
  gap: 30px;
  margin-left: 10%;
  margin-top: 1%;
}

.item {
  display: grid;
  gap: 10px;
}
/* di bawah sudah footer */
.kaki {
  width: 60%;
  margin: 40px auto;
  text-align: center;
  color: blueviolet;
  background: rgb(70, 13, 128);
  padding: 20px;
  border: 3px solid black;
  border-radius: 20px;
  font-family: Arial, sans-serif;
  margin-top: 20%;
}

.kaki h1 {
  margin: 0;
  font-size: 30px;
  font-weight: bold;
}

.kaki p {
  margin-top: 10px;
  font-size: 18px;
}
